
html {
  padding: 0px 20px;
  background: #ccc;
}
body {
  padding: 20px;
  margin: 0px auto;
  max-width:1200px;
  background: white;
  line-height: 22px;
  font-family: "Open Sans", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Marcellus", "Georgia", serif;
}

code, pre {
  font-family: "Inconsolata", monospace !important;
}

p > code, li > code,  pre {
  background: #eee;
  padding: 1px;
  border-radius: 5px;
  border: 1px solid #aaa
}

header {
  display:block;
}

